<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" >

</head>
    <body>

        <div th:replace="common/header :: navbar"></div>
            <div class="container">
                <div>
                    <ol class="breadcrumb">

                            <li><a th:href="@{/book/bookList}"><i class="fas fa-long-arrow-left"></i>Go back</a></li>

                            <li ><a th:href="@{'/book/updateBook/'+${books.id}}">Edit</a></li>


                    </ol>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span>
                                    <img th:src="@{'/' + ${books.getImage_path()}}" style="width: 80px; height: 80px; border-radius:50%; margin-left: 10px" class="img-responsive" th:if="${books.image_extension!='pdf'and books.image_extension!='xls' and books.image_extension!='xlsx'}"/>
                                    <img th:src="@{'/image/pdfImage.png'}" style="width: 80px; height: 80px; border-radius:50%; margin-left: 10px" class="img-responsive" th:if="${books.image_extension=='pdf'}"/>
                                    <img th:src="@{'/image/excelImage.jpg'}" style="width: 80px; height: 80px; border-radius:50%; margin-left: 10px" class="img-responsive" th:if="${books.image_extension=='xls'or books.image_extension=='xlsx'}"/>

                                </span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" th:text="${isAdd}?'Save':'Update'"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <h3 th:text="${books.name}"></h3>
                        <div class="row">
                            <p><strong>Division:</strong><span th:text="${books.category}"></span></p>
                        </div>
                    </div>
                    <p><strong>Description:</strong><span th:utext="${books.description}"></span></p>
                </div>
            </div>
        <div th:replace="common/header :: body-bottom-scripts"></div>

    </body>
</html>